body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #CED6F0;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 10px;
    font-weight: 500; /* 900 es el máximo */
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.login-form h2 {
    font-size: 15px;
    margin-bottom: 3px;
}

.login-form p {
    color: #666;
    font-size: 10px;
}

.input-group {
    margin-bottom: 20px; /* Aumenta el margen inferior para separar más las cajas de entrada */
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.input-group input {
    width: calc(100% - 16px); /* Ajusta el ancho restando el padding izquierdo y derecho(esto era lo que faltaba) */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; /* Añade un margen superior para separar el input del label */
    margin-right: 8px; /* Añade un margen derecho para separar del lado derecho */
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #367BF5;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.signup-link {
    margin-top: 10px;
}

.signup-link a {
    color: #367BF5;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

